Trabajo Practico/bin/Debug
Trabajo Practico/obj/Debug
Trabajo Practico\.vs
Trabajo Practico/Trabajo Practico.csproj
Trabajo Practico\.vs\Trabajo Practico\Filecontentlndex
Trabajo Practico\.vs\Trabajo Practico\FilecontentIndex
